.intro {
    text-align: center;
}

body {
    background-color: #AAC4F5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

h3 {
    text-align: center;
}

.card1, .card2, .card3 {
    background-color: #FFF2C6;
    flex: 1;
}

.challenge {
    display: flex;
    gap: 10px;
}

.challenge1, .challenge2, .challenge3 {
    flex: 1;
    background-color: #FFF8DE;
    padding-left: 10px;
    margin: 0px;
}

img {
    display: block;
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(180%)
}