body {
    background-color: rgb(192, 99, 192);
    margin-left: 0px;
    flex-direction: column;
}

h1 {
    text-align: center;
}

table {
    background-color: black;
    width: 100%;
    height: 100px;
}

tr.day, tr.exercise {
    background-color: #DFD9E2;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

li {
    list-style-type: none;
    padding: 5px;
}

.links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: #30D5C8;
    width: 300px;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}